$roboto-font-path: "../fonts/";
$icons-font-path: "../fonts/";
@import "materialize/sass/materialize";

$octicons-font-path: "../fonts/";
@import "octicons/octicons/octicons.scss";

$avatar-height: 30px;
$opacity-transition: opacity 0.25s ease-in-out;
$color-transition: color 0.2s ease-in-out;

a {
  -webkit-transition: $color-transition;
  -moz-transition: $color-transition;
  -ms-transition: $color-transition;
  -o-transition: $color-transition;
  transition: $color-transition;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.show-what-choice {
  margin: 1.78rem 0 10px 0;

  .commits-choice-label {
    margin-right: 3rem;
  }
}

.commits-by-week-list-item,
.issues-by-week-list-item {
  .week {
    display: block;
    padding: 3px 17px;
    background-color: #EFEFEF;
    margin-bottom: 10px;
    position: relative;

    .week-issue-count {
      .issue-count {
        &:after {
          content: "\a0\2044\a0";
        }
      }
    }
  }

  & + .commits-by-week-list-item,
  & + .issues-by-week-list-item {
    margin-top: 20px;
  }
}

.page-footer {
  ul {
    margin-top: 0;
  }
}

.commits-list {
  margin-left: 17px;

  .commit-list-item {
    .commit-repo {
      color: #9E9E9E;
    }

    .octicon {
      margin-right: 5px;
    }

    time {
      text-transform: uppercase;
      font-size: 0.9rem;
      color: #777;
      display: inline-block;
      margin-left: 0.3em;
    }

    & + .commit-list-item {
      margin-top: 10px;
    }
  }
}

.repos-list {
  .org-list-item {
    .org-name {
      font-size: inherit;
      color: inherit;

      .octicon {
        margin-right: 0.3em;
        vertical-align: middle;
      }
    }

    & + .org-list-item {
      margin-top: 10px;
      border-top: 1px solid #CCC;
      padding-top: 10px;
    }
  }
}

.commits-by-repo-list,
.issues-by-repo-list {
  a:hover, a:focus {
    color: #283593;
  }

  a.toggle-list-visibility {
    &, &:hover, &:focus, &:active {
      color: rgb(51, 51, 51);
    }

    .mdi-hardware-keyboard-arrow-down,
    .mdi-hardware-keyboard-arrow-right {
      display: inline-block;
      margin-right: 0.3em;
    }
  }

  .commits-by-repo-list-item,
  .issues-by-repo-list-item {
    .repo-full-name {
      display: block;
      margin-bottom: 10px;
      position: relative;

      .octicon {
        margin-right: 5px;
      }

      .repo-issue-count {
        .issue-count {
          &:after {
            content: "\a0\2044\a0";
          }
        }
      }
    }

    & + .commits-by-repo-list-item,
    & + .issues-by-repo-list-item {
      margin-top: 40px;
    }
  }
}

.repo-list-item {
  white-space: nowrap;

  & + .repo-list-item {
    margin-top: 5px;
  }

  .repo-name {
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    height: auto;
    display: inline-block;

    .octicon {
      margin-right: 0.3em;
      vertical-align: middle;
    }

    .repo-org-name {
      color: #999;
      display: block;
      font-size: 0.9rem;
      line-height: 1.3;
    }
  }

  .repo-link, .private-indicator {
    opacity: 0;
    -webkit-transition: $opacity-transition;
    -moz-transition: $opacity-transition;
    -ms-transition: $opacity-transition;
    -o-transition: $opacity-transition;
    transition: $opacity-transition;
  }

  .repo-link {
    display: inline-block;
    vertical-align: middle;
    line-height: 25px;
    margin-left: 0.3em;
  }

  .private-indicator {
    display: inline-block;
    margin-left: 0.3em;
    color: #999;
  }

  &:hover, &:focus {
    .repo-link, .private-indicator {
      zoom: 1;
      filter: alpha(opacity=100);
      opacity: 1;
    }
  }
}

.repos-header, .commits-header {
  position: relative;
  font-size: 1rem;
  line-height: 1.3;
  text-transform: uppercase;
  color: #777;
  letter-spacing: 0.1em;

  .badge {
    font-size: 0.8rem;
    text-transform: none;
    letter-spacing: 0;
  }
}

.commits-header {
  margin-bottom: 10px;
}

.repos-header {
  margin-bottom: 0;
}

.github-user {
  .logout-link {
    display: inline-block;
    height: $avatar-height;
    line-height: $avatar-height;
  }

  .name-and-avatar {
    display: inline-block;
    height: 100%;

    .avatar {
      max-height: $avatar-height;
      border-radius: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    .name {
      line-height: $avatar-height;
      vertical-align: middle;
      margin-left: 10px;
      display: inline-block;
    }
  }
}

.issues-list {
  margin-left: 17px;

  .issue-list-item {
    .octicon {
      margin-right: 5px;
      width: 16px;
    }

    & + .issue-list-item {
      margin-top: 10px;
    }

    .issue-link {
      .issue-title {
        display: inline-block;
        margin: 0 0.3em;
      }
    }

    .issue-metadata {
      font-size: 0.9rem;
      margin-left: 21px;
      color: #777;

      .issue-user-link {
        display: inline-block;
        margin-right: 0.3em;
        color: #777;

        .issue-user-avatar {
          border-radius: 100%;
          height: 16px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 0.3em;
        }
      }

      .separator {
        margin-right: 0.3em;
        display: inline-block;
      }

      .issue-labels-list {
        margin-right: 0.3em;
        display: inline-block;

        .label-list-item {
          display: inline-block;

          .label-name {
            display: inline-block;
            padding: 0 0.4em;
            border-radius: 2px;
          }

          & + .label-list-item {
            margin-left: 0.3em;
          }
        }
      }

      time.issue-date {
        display: inline-block;
      }
    }
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

@media only screen and (min-width: 601px) {
  .container {
    width: 95%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}
